{% extends "base.html" %}
{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}
<div class="module">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    
        {% for field in form %}
            {{ field.name }}
            {{ field }} <br />
        {% endfor %}
    
        {{ formset.management_form }}
        {% for forms in formset %}
            {{ forms }}<br />
        {% endfor %}
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>
{% endblock %}