{% extends "base.html" %}
{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}
<div class="module">
<form>
    {{ form.search }}
    {{ form.filter_field_1 }}
    <input type="submit" class="btn btn-default" value="Search">
</form>
</div>
{% if object_list %}
{{ object_list}}
{% endif %}

{% if object_list %}
    <ul>
        {% for item in object_list %}
            <p>{{item.brand}}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>Empty!</p>
{% endif %}
{% endblock %}